/* 
#F3FDD8 - pale green
#c8ec52 - bright green
#31313 - dark gray
#C7F5B1 - mint green
#6fd845 - very bright green
#dfff74 - milder bright green
#ffff - white
*/

/*     
font-family: 'Open Sans', sans-serif;
font-family: 'Quicksand', sans-serif;
 */

/*  Header */
header {
    background-color: #ffff;
}

.top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f3fdd8;
}

.header-toggle-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.header-toggle-container p {
    font-size: 11px;
    color: #313131;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0;
}

.welcome-div {
    padding: 0 20px;
    margin: 30px 0;
}

header h2 {
    font-size: 21px;
    font-weight: 400;
    margin: 0;
    text-align: left;
    color: #313131;
    font-family: 'Quicksand', sans-serif;
}

span {
    font-weight: 600;
}

/* Logout button */
.logout-link {
    align-self: flex-start;
    margin-top: 3px;
}

.logout-button {
    color: #313131;
    border: none;
    background-color: #dfff74;
    padding: 5px 7px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    font-size: 13px;
}

.logout-button:hover {
    background-color: #d6fb5d;
}

/* Toggle slider */
.toggle-container {
    margin-top: 5px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 25px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #C7F5B1;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 8px;
    bottom: 4.5px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #4d4c4c;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Navlinks */
nav {
    margin-top: 20px;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
    margin-bottom: 10px;
    padding: 0;
}

.link {
    text-decoration: none;
    color: #313131;
    width: 50%;
    text-align: center;
    padding: 15px 10px;
    font-size: 19px;
    font-family: 'Quicksand', sans-serif;
}

.active {
    background-color: #f3fdd8;
    font-weight: 600;
}