/* ------------------------------------------------------------------------ */
/* Media queries */
@media (min-width: 600px) {
    /* Direction of the notes list */
    main .list-section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    main .note-container {
        margin: 0 20px 20px 20px;
    }
  
    /* Section element for the addtask, edittask and tasksummary for mobile view */
    .task-section {
        padding: 0 60px;
    }
}

@media (min-width: 750px) { 
    /* Main element tag in schedule.js */
    .desktop-view {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    /* Section element tag in schedule.js */
    .inner-div {
        width: 100%;
        /* padding: 0 30px; */
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }

    /* Div element tags in Schedule.js */
    /* Adding two columns which will seperate the week number, today button, calendar and add task component from the schedule list */
    .left-column {
        width: 360px;
        height: 100%;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: space-evenly;
        margin-right: 30px;
    }

    .right-column {
        max-width: 55%;
        height: 100%;
        margin-top: 30px;
    }

    .left-column .desktop-view-taskcontainer {
        margin-top: 0;
    }

    .left-column .desktop-view-close-button {
        display: none;
    }
    
    /* Div element in addtask, edit task and tasksummary  */
    .task-container {
        width: 360px;
        margin-top: 60px;
    }

    .select-calendar-text {
        margin-top: 0;
    }
}