/* Schedule.js */
.main-schedule-container {
  padding: 0 20px;
  margin-top: 20px;
  color: #313131;
  font-family: 'Quicksand', sans-serif;
}

.schedule-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.white {
  background-color: #fff;
}

.select-calendar-text {
  font-size: 17px;
  color: #313131;
  text-align: justify;
  font-family: 'Quicksand', sans-serif;
}

.week-text {
  width: 70%;
  color: #313131;
  text-align: center; 
  padding: 12px 0;
  margin: 0 10px 0 0;
  font-size: 18px;
  border-radius: 2px;
  background-color: #d7f87b;
}

.today {
  width: 30%;
}

.today button {
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  color: #313131;
  border: 3px solid #C7F5B1;
  background-color: transparent;
  cursor: pointer;
  border-radius: 2px;
  padding: 10px 0;
  transition: 0.3s;
}
  
.today button:hover {
  background-color: #C7F5B1;
  transition: 0.3s;
}

/* Weekly schedule */
.status-message {
  color: #313131;
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  margin-top: 0;
  font-weight: 500;
}

.weekly-tasks{
  display: flex;
  flex-direction: column;
}

.weekday-container-one {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:hsl(109, 51%, 81%);
  padding: 7px;
  font-size: 17px;
  color: #313131;
  font-weight: 600;
  font-family: 'Quicksand', sans-serif;
}
  
.weekday-container-two {
  width: 100%;
  background-color: #d7f87b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px;
  font-size: 17px;
  color: #313131;
  font-weight: 600;
  font-family: 'Quicksand', sans-serif;
}

.task-link {
  text-decoration: none;
  width: 100%;
}
  
.time-task-container {
  width: 100%;
  background-color: #fff;
  padding: 7px;
  display: flex;
  justify-content: space-between;
  color: #313131;
  margin-bottom: 10px;
  font-size: 16px;
  border-bottom: 3px solid #C7F5B1;
  font-family: 'Open Sans', sans-serif;
}

.task {
  word-wrap: break-word;
}







  
  /* notes page */
  .add-note-text {
    margin-right: 20px;
  }
  
  .note-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
  }
  
  .note-container p {
    padding: 10px;
  }
  
  .delete-button-container {
    display: flex;  
    padding: 5px 0;
  }
  
  .text-container {
    width: 100%;
    height: 90%;
    background-color: #dcf5d1;
  }
  
  .input-note-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    padding: 0px 2px 10px 2px;
  }
  
  .note-input {
    height: 200px;
    background-color :#C7F5B1;
    border: none;
    overflow: auto;
    resize: none;
    font-size: 15px;
    font-family: arial;
  }
  
  .note-input:focus{
    outline: none;
  }
  
  .note-add-button {
    color: #8d8d8d;
    border: none;
    cursor: pointer;
    padding: 10px;
    background-color: #C7F5B1;
  }
  
  .button-container {
    display: flex;
    align-self: flex-end;
    justify-content: center;
    padding: 10px 5px;
  }
  
  .note-buttons {
    border: none;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    color: #585757;
    align-self: flex-end;
  }
  
  .note-buttons:hover{
    color: #000000;
  }
  
  /*
  #EAFABE - light green
  #EBEBEB - light blue
  #C7F5B1 - darker green
  #CCD4C8 - light grey
  */
  
  /* NoteColourOptions */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .Colour-square-container {
    width: 200px;
    display: none;
    position: absolute;
    z-index: 1;
    top: 0px;
    left: -100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
  }
  
  .colour-square {
    width: 30%;
    height: 40px;
    border: none;
    font-size: 18px;
    cursor: pointer;
  }
  
  .colour-0 {
    background-color: #f3fdd8;
  }
  
  .colour-0-hover:hover {
    background-color: #e9fcb6;
  }
  
  .colour-1 {
    background-color: #9adb7c;
  }
  
  .colour-1-hover:hover {
    background-color: #8ecc71;
  }
  
  .colour-2 {
    background-color: #def69a;
  }
  
  .colour-2-hover:hover {
    background-color: #d7f87b;
  }
  
  .colour-3 {
    background-color: #CCD4C8;
  }
  
  .colour-3-hover:hover {
    background-color: #bdc7bb;
  }
  
  