/* Schedule.js page styling & component styling*/
/*  Header */
/* header {
  background-color: #ffff;
} */

/* .top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f3fdd8;
} */

/* .header-toggle-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
} */

/* .header-toggle-container p {
  font-size: 11px;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 0;
} */

/* .welcome-div {
  padding: 0 20px;
  margin: 30px 0;
} */

/* header h2 {
  font-size: 21px;
  font-weight: 400;
  margin: 0;
  text-align: left;
  color: #313131;
  font-family: 'Quicksand', sans-serif;
} */

/* span {
  font-weight: 600;
} */

/* Logout button */
/* .logout-link {
  align-self: flex-start;
  margin-top: 3px;
} */

/* .logout-button {
  color: #313131;
  border: none;
  background-color: #dfff74;
  padding: 5px 7px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: 0.3s;
} */

/* .logout-button:hover {
  background-color: #d6fb5d;
  transition: 0.3s;
} */

/* Toggle slider */
/* .toggle-container {
  margin-top: 5px;
} */

/* .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 25px;
} */

/* .switch input { 
  opacity: 0;
  width: 0;
  height: 0;
} */

/* .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #a5ed84;
  -webkit-transition: .4s;
  transition: .4s;
} */

/* .slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 8px;
  bottom: 4px;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
} */

/* .input:checked + .slider {
  background-color: #f5ccb1;
}

.input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} */

/* Navlinks */
/* nav {
  margin-top: 20px;
} */

/* ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
  margin-bottom: 10px;
  padding: 0;
} */

/* .link {
  width: 50%;
  text-align: center;
  padding: 20px;
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
  background-color: #e7f5c0;
} */
 
/* .active {
  background-color: #f3fdd8;
  font-weight: 600;
} */

/* .hover-tab:hover {
  font-weight: 600;
} */

/* React calendar styling is in Calendar.css */
/* ------------------------------------------------------------------------ */
/* Main container */
/* .main-container {
  padding: 0 20px;
  font-family: 'Quicksand', sans-serif;
} */

/* .section-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 25px 0;
} */

/* .white {
  background-color: #fff;
  padding: 20px 0;
  border-radius: 5px;
} */

/* .select-calendar-text {
  font-size: 17px;
  color: #313131;
  text-align: justify;
  font-family: 'Quicksand', sans-serif;
  margin-top: 10px;
} */

/* .week-text {
  width: 70%;
  text-align: center; 
  padding: 12px 0;
  margin: 0 10px 0 0;
  font-size: 19px;
  border-radius: 2px;
  background-color: #C7F5B1;
  font-family: 'Quicksand', sans-serif;
} */

/* .today {
  width: 30%;
} */

/* .today button {
  width: 100%;
  font-size: 19px;
  font-weight: 600;
  background-color:#dfff74;
  border-radius: 2px;
  padding: 11px 0;
  transition: 0.3s;
  font-family: 'Quicksand', sans-serif;
} */
  
/* .today button:hover {
  background-color: #b9fa9a;
  transition: 0.3s;
} */

/* ------------------------------------------------------------------------ */
/* Add Task Button Component */
/* .add-task-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
} */

/* .add-task-container button {
  text-align: center;
  font-size: 19px;
  padding: 10px 20px;
  background-color: #C7F5B1;
} */

/* .add-task-container button:hover {
  background-color: #b9fa9a;
  transition: 0.3s;
} */

/* .add-task-container p {
  margin-left: 20px;
  font-size: 17px;
  font-family: 'Quicksand', sans-serif;
  text-align: justify;
} */

/* ------------------------------------------------------------------------ */
/* Weekly schedule */
/* Div in Schedule.js */
.mobile-view {
  width: 100%;
}

/* .status-message {
  color: #313131;
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  margin-top: 10px;
  font-weight: 500;
} */

/* .weekly-tasks{
  display: flex;
  flex-direction: column;
} */

/* .weekday-container-one {
  background-color:#bfe7b6;
  padding: 7px;
  font-size: 17px;
  font-weight: 600;
  font-family: 'Quicksand', sans-serif;
} */
  
/* .weekday-container-two {
  width: 100%;
  background-color: #dfff74;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px;
  font-size: 17px;
  color: #313131;
  font-weight: 600;
  font-family: 'Quicksand', sans-serif;
} */

/* .task-link {
  text-decoration: none;
  width: 100%;
} */
  
/* .time-task-container {
  width: 100%;
  background-color: #ffffff;
  padding: 7px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 16px;
  border-bottom: 3px solid #C7F5B1;
  font-family: 'Open Sans', sans-serif;
  transition: 0.3s;
} */

/* .hover:hover {
  border-bottom: 3px solid #d7f87b;
  transition: 0.3s;
} */

/* .task {
  word-wrap: break-word;
} */

/* Styling for weekday and weekend plans title in schedule */
/* .plans-title:first-child {
  margin: 0;
}

.plans-title {
  width: 100%;
  background-color: #dfff74;
  border-bottom: 3px solid #fff;
  margin: 15px 0 0 0;
  padding: 24px 10px;
  font-size: 19px;
  color: #313131;
  font-weight: 600;
  font-family: 'Quicksand', sans-serif;
} */

/* ------------------------------------------------------------------------ */
/* Add task, Edit task & summary task components */
/* .task-section {
  width: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} */

/* .task-container {
  margin: 20px 0;
  background-color: #C7F5B1;
  border-radius: 5px;
  width: 300px;
  height: 100%;
  padding: 20px;
} */

/*  Close button */
/* .close-button-container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  text-decoration: none;
} */

/* .close-button-container button {
  background-color: #dfff74;
  padding: 5px 7px;
  font-size: 15px;
} */

/* .close-button:hover {
  background-color: #707070;
} */

/* h2 text */
/* .task-container h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  font-weight: 500;
  border-bottom: 3px solid #F3FDD8;
  padding-bottom: 10px;
} */

/* AddTask & EditTask.js */
/* Form */
/* .form-container {
  width: 100%;
  margin-bottom: 20px; 
} */

/* .input-box {
  background-color: #fff;
  border: none;
  width: 100%;
  height: 60px;
  margin-bottom: 17px;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  outline: none;
  padding: 0 10px;
}

.input-box:focus {
  border: 2px solid #6fd845;
  transition: 0.3s;
} */

/* .date-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  font-weight: 600;
  font-family: 'Quicksand', sans-serif;
  font-size: 17px;
} */

/* Date & time pickers */
/* See DatePicker.css & TimePicker.css for more styling */
/* .picker {
  width: 70%;
  background-color: #fff;
} */

/*  Form button */
/* .add-task-button {
  width: 100%;
  margin-top: 20px;
  padding: 10px 0;
  background-color: #F3FDD8;
  border: none;
  cursor: pointer;
  border-radius:5px;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s;
} */

/* .add-task-button:hover {
  background-color: #dfff74;
  border: none;
  transition: 0.3s;
} */

/* TaskSummary.js */
/* Edit & Delete buttons */
/* .edit-delete-button-container {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0;
} */

/* .no-link {
  text-decoration: none;
} */

/* .edit-delete-button-container button {
  background-color: #F3FDD8;
  border-radius: 50%;
  height: 65px;
  width: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

/* .edit-delete-button-container button:hover {
  background-color: #dfff74;
  border: none;
  transition: 0.3s;
} */

/* .delete-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  height: 70%;
} */

/* .material-icons {
  margin-bottom: 5px;
  font-size: 16px;
  color: #313131;
} */

/* .larger-bin {
  font-size: 35px;
} */