/* Add Task Button Area */
.add-task-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.add-task-container button {
    background-color: transparent;
    color: #313131;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    padding: 10px 20px;
    font-family: 'Quicksand', sans-serif;
    cursor: pointer;
    transition: 0.3s;
    background-color: #C7F5B1;
}

.add-task-container button:hover {
    background-color: #b9fa9a;
    transition: 0.3s;
}

.add-task-container p {
    margin-left: 20px;
    font-size: 17px;
    font-family: 'Quicksand', sans-serif;
    text-align: justify;
}