/* Add, Edit & schedule task components */
.task-section {
    width: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #313131;
}

.task-container {
    padding: 20px 20px 0 20px;
    margin:20px 0;
    background-color: #C7F5B1;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

/*  Close button */
.close-button-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    text-decoration: none;
}
  
.close-button-container button {
    color: #313131;
    border: none;
    background-color: #dfff74;
    padding: 5px 7px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
}
  
.close-button:hover {
    background-color: #707070;
}

/* h2 text */
.task-container h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 22px;
    font-weight: 500;
    border-bottom: 3px solid #F3FDD8;
    padding-bottom: 10px;
}

/* AddTask & EditTask.js */
/* Form */
.form-container {
    width: 100%;
    margin-bottom: 20px;
}

.input-box {
    /* border: 3px solid #fff; */
    background-color: #fff;
    border: none;
    width: 100%;
    height: 60px;
    margin-bottom: 17px;
    /* background-color: transparent; */
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    outline: none;
    padding: 0 10px;
}

.input-box:focus {
    border: 2px solid #6fd845;
    transition: 0.3s;
}

.date-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    font-weight: 600;
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
}

/* Date & time pickers */
.picker {
    width: 70%;
    background-color: #fff;
}

/*  Form button */
.add-task-button {
    width: 100%;
    margin-top: 20px;
    padding: 10px 0;
    background-color: #F3FDD8;
    color: #313131; 
    border: none;
    cursor: pointer;
    border-radius:5px;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;
}

.add-task-button:hover {
    background-color: #dfff74;
    border: none;
    transition: 0.3s;
}

/* TaskSummary.js */
/* Edit & Delete buttons */
.edit-delete-button-container {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
}

.no-link {
    text-decoration: none;
}

.edit-delete-button-container button {
    border: none;
    background-color: #F3FDD8;
    border-radius: 50%;
    height: 65px;
    width: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #313131;
    transition: 0.3s;
}

.edit-delete-button-container button:hover {
    background-color: #dfff74;
    border: none;
    transition: 0.3s;
}

.material-icons {
    margin-bottom: 5px;
    font-size: 16px;
    color: #313131;
}
